.row {
  display: flex;
  height: 100%;
}

.column {
  display: flex;
  height: 100%;
}

.row > *,
.column > * {
  display: flex;
  flex: 1;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-center > * {
  display: flex;
}

.sidebar {
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  flex: none;
  display: block;
  margin-right: 10px;
  background: #F6F6F6;
  color: #989898;
  padding: 10px;
}

html {
  height: 100%;
}

body {
  background: #E0E0E0;
  margin: 0;
  height: 100%;
}

dl {
  padding: 8px 0 0;
  font-size: 11px;
  border-top: solid 1px #E4E4DE;
}

dl:before,
dl:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

dl:after {
  clear: both;
}


dt {
  clear: both;
  float: left;
  width: 65px;
}

dd {
  float: left;
  margin: 0 0 0 4px;
}

fieldset {
  margin: 0 0 10px 0;
  padding: 0;
  border: none;
}

h3 {
  font-size: 14px;
  padding-left: 4px;
  border-top: solid 1px #E4E4DE;
  width: 101%;
  padding-top: 8px;
  margin: 17px 0 5px;
}

h3:first-child {
  margin-top: 0;
  border: none;
}

a{
  padding-top: 8px;
  margin-top: 8px;
  font-size: 11px;
  color: #a2d1ff;
  text-decoration: none;
  display: block;
  clear: left;
  border-top: solid 1px #E4E4DE;
}
