
.type-selector div:before {
  font-size: 35px;
}

.type-selector .active {
  color: #a2d1ff
}

.type-selector {
  margin: 15px 0;
}

.glyph-icon.flaticon-hex:before {
  font-size: 31px;
  margin-top: 2px;
}